{{set . "title" "Home"}} {{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>ほぼ日だいあり</h1>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form class="form-horizontal" action="/" method="POST">
        <div class="form-group-lg">
          <div class="col-md-12">
            <textarea class="form-control" name="content"></textarea>
          </div>
        </div>
        <input type="submit" value="投稿">
      </form>
      {{range .entry}}
      <div class="panel panel-default">
        <div class="panel-heading">{{ .Day.Format "2006-01-02 15:04:05" }}</div>
        <div class="panel-body">
          {{range .Content}}
          <p>{{ . }}
            <br> {{end}}
          </p>
        </div>
      </div>
      {{end}}
      <nav>
        <ul class="pagination">
          <li>
            <a href="#" aria-label="前のページへ">
              <span aria-hidden="true">«</span>
            </a>
          </li>
          <li>
            <a href="/?page=1">1</a>
          </li>
          <li>
            <a href="/?page=2">2</a>
          </li>
          <li>
            <a href="#">3</a>
          </li>
          <li>
            <a href="#">4</a>
          </li>
          <li>
            <a href="#">5</a>
          </li>
          <li>
            <a href="#" aria-label="次のページへ">
              <span aria-hidden="true">»</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-4">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}